$text: hsl(0, 0%, 15%);

body, html {
    background-color: rgb(231, 231, 231);
    min-height: 100vh; // to have bg colour all the way
    min-width: 100vw;
}

.big-text {
    font-size: 3rem;
}

.smaller-text {
    font-size: 2rem;
}

.smallest-text {
    font-size: 1.3rem;
}

.list-container {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // display: table;
    // border-collapse: separate;
    // border-spacing: 0 8px;
    
    padding-top: 0.6rem;
}

.list-item {
    // width: 100%;
    // // background: white;
    // padding-top: 20px;
    // margin-bottom: 2px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    display: grid;
    grid-template-columns: 3rem 1% minmax(2rem, 30%) minmax(15rem, 35%) 10rem; //1% 37% 37% 25%, 1% 37% 40% 20rem
    // grid-template-columns: 1% 20% 20% 10%;
    // grid-template-rows: auto;
    // overflow: hidden;
    // row-gap: 1rem; // not working?
    column-gap: 0.5rem;
    // place-items: center;
    align-items: center; // align in the vertical axis

    border-radius: 0 0.8rem 0.8rem 0;
    margin-bottom: 0.3rem;

    

    .list-item-index {
        height: 100%; // to make the grey background colour fill this whole grid cell
        display: grid; // to make align-items work with height: 100%
        align-items: center;

        background-color: rgb(231, 231, 231); // same as body's bg color
        color: hsl(0, 0%, 15%);
        font-size: 2rem;
        // border-right: 3rem solid transparent;
        padding-right: 1rem;
    }

    .handle {
        // display: table-cell;
        margin-left: 0.7em;
        cursor: move;

        border-radius: 0.8rem 0 0 0.8rem; // doesn't seem to work to add rounded corners to left side?
    }

    .list-item-person {
        // align-self: flex-start;
        // // flex-grow: 1;
        // flex: 0.2;
        // padding: 0.3em;
        border-left: 2rem solid transparent;
        // justify-self: start;
        // border-bottom: 0.9em solid transparent;
        // border-top: 0.9em solid transparent;
        // display: table-cell;
        
    }

    .list-item-game {
        // align-self: flex-start;
        // flex-grow: 1;
        border-left: 1.5rem solid transparent;
        
        // display: table-cell;
        // align-items: center;
        // vertical-align: middle;
        // border-bottom: 1em solid transparent;
        // text-align: center; // makes text center aligned (horizontally)
        padding-top: 1rem;
        padding-bottom: 1rem;
        .list-item-remarks {
            // display: table-cell; // to make the div wrap tightly around the text
            background-color: rgb(231, 231, 231);
            color: hsl(0, 0%, 15%);
            // padding: 0.1em;
            padding-left: 0.3em;
            padding-right: 0.3em;
            padding-bottom: 0.1em; // some letters like g, would clip the bottom border

            border: 1px solid #000;
            border-right-style: solid;
            
            border-radius: 0.7em 0.7em 0.7em 0.7em;
        }

        .list-item-time {
            // display: table-cell;
            // justify-content: space-evenly;
            // margin-bottom: 0px;
            // padding-top: 0.4rem;
            // border-top: 0.4rem solid transparent;
            color: hsl(0, 0%, 15%);
        }
    }

    .list-item-control-buttons {
        justify-self: end;
        // align-self: center;
        // float: right;
        // padding-right: 1em;
        // display: table-cell;
        // border-left: 1em solid transparent;
        // border-right: 1rem solid transparent;
        // margin-right: 5.5rem;
        // margin-right: -10rem;
        padding-right: 0.5rem;
        // vertical-align: middle;
        // width: 500px;
        font-size: 24px;

        .delete-confirmation {
            // float: right;
            // padding: 5em;
            // display: inline-block;

            margin-top: 7px;
        }

        .delete-button {
            // float: right;
            
            // display: inline-block;
            margin-top: 7px;
            background-color: red;
        }

        .call-button {
            // float: left;
            // display: inline-block;

            margin-right: 7.5px;
            margin-top: 3px;
            color: hsl(252, 0%, 32%); // dark gray

            
        }
        .call-button:hover {
            color: hsl(0, 0%, 15%);
        }

        .edit-button {
            margin-right: 10px;
            color: hsl(252, 0%, 32%); // dark gray
        }
        .edit-button:hover {
            color: hsl(0, 0%, 15%);
        }
    }
    
    .edit-form {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // vertical-align: middle;
        input {
            margin-left: 0.2em;
        }

        i {
            margin-left: 0.3em;
            margin-right: 0.6em;
            // text-shadow: 0 0 1px #000;
            // text-shadow:
            // -1px -1px 0 #000,  
            //  1px -1px 0 #000,
            //  -1px 1px 0 #000,
            //   1px 1px 0 #000;
            // color: hsl(141, 53%, 53%);
            color: hsl(252, 0%, 32%);
        }
        i:hover {
            color: hsl(0, 0%, 15%);
        }
    }
}

// .list-item :nth-child(2) {
//     // height: 100%;
    
//     // display: grid;
//     // border-bottom-left-radius: 0.8rem;
// }

.snooker {
    background-color: hsl(141, 71%, 48%);
}

.pool {
    background-color: hsl(204, 86%, 53%);
}

.pool-or-snooker {
    background-color: hsl(72, 98%, 50%);
}

.table-tennis {
    background-color: hsl(48, 100%, 67%);
}

.snooker-or-table-tennis {
    background-color: hsl(174, 100%, 50%);
}

.pool-or-american {
    background-color: white;
    
    span {
        color: hsl(348, 100%, 61%); // text colour
    }
}

.pool-or-table-tennis {
    background-color: hsl(189, 100%, 50%);
}

.american-pool {
    background-color: orange;
}

.any {
    background-color: hsl(314, 100%, 76%); // pink
}

.pool-li:before {
    background-color: hsl(204, 86%, 53%);
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
}

.snooker-li:before {
    background-color: hsl(141, 71%, 48%);
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
}

.table-tennis-li:before {
    background-color: hsl(48, 100%, 67%);
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
}

@import "~bulma/bulma";